In [1]:
import pandas as pd
import numpy as np

In [2]:
df_beers = pd.read_csv('Inputs/beers.csv')
df_breweries = pd.read_csv('Inputs/breweries.csv')

In [3]:
df_beers.head(10)

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0
5,5,0.077,NaN,2261,Black Exodus,Oatmeal Stout,177,12.0
6,6,0.045,NaN,2260,Lake Street Express,American Pale Ale (APA),177,12.0
7,7,0.065,NaN,2259,Foreman,American Porter,177,12.0
8,8,0.055,NaN,2258,Jade,American Pale Ale (APA),177,12.0
9,9,0.086,NaN,2131,Cone Crusher,American Double / Imperial IPA,177,12.0

In [4]:
df_beers.shape

(2410, 8)

In [5]:
null_cols = df_beers.isnull().sum()
null_cols[null_cols > 0]

abv        62
ibu      1005
style       5
dtype: int64

In [6]:
def to_drop(df, lst, indx):
    return df.drop(lst, inplace = True, axis = indx)

lst_colmn = ['abv', 'ibu', 'Unnamed: 0']
to_drop(df_beers, lst_colmn, 1)
df_beers.head(10)

,id,name,style,brewery_id,ounces
0,1436,Pub Beer,American Pale Lager,408,12.0
1,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2264,Rise of the Phoenix,American IPA,177,12.0
3,2263,Sinister,American Double / Imperial IPA,177,12.0
4,2262,Sex and Candy,American IPA,177,12.0
5,2261,Black Exodus,Oatmeal Stout,177,12.0
6,2260,Lake Street Express,American Pale Ale (APA),177,12.0
7,2259,Foreman,American Porter,177,12.0
8,2258,Jade,American Pale Ale (APA),177,12.0
9,2131,Cone Crusher,American Double / Imperial IPA,177,12.0

In [7]:
df_beers['style'].fillna('*', inplace=True)

lst_row = [566, 1554, 1555]
to_drop(df_beers, lst_row, 0)
df_beers.loc[df_beers['style'] == '*']

       id                            name style  brewery_id  ounces
853  1635  Kilt Lifter Scottish-Style Ale     *         160    12.0
866  2527                   OktoberFiesta     *          66    12.0

In [8]:
df_beers.ix[853, 'style'] = 'Scotch Ale'
df_beers.ix[853, 'name'] = 'Kilt Lifter'
df_beers.ix[866, 'style'] = 'Oktoberfest'

/home/ovi/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [9]:
df_beers.columns.values

array(['id', 'name', 'style', 'brewery_id', 'ounces'], dtype=object)

In [10]:
df_breweries.head(10)

   Unnamed: 0                          name           city state
0           0            NorthGate Brewing     Minneapolis    MN
1           1     Against the Grain Brewery     Louisville    KY
2           2      Jack's Abby Craft Lagers     Framingham    MA
3           3     Mike Hess Brewing Company      San Diego    CA
4           4       Fort Point Beer Company  San Francisco    CA
5           5         COAST Brewing Company     Charleston    SC
6           6  Great Divide Brewing Company         Denver    CO
7           7              Tapistry Brewing       Bridgman    MI
8           8              Big Lake Brewing        Holland    MI
9           9    The Mitten Brewing Company   Grand Rapids    MI

In [11]:
df_breweries.columns.values

array(['Unnamed: 0', 'name', 'city', 'state'], dtype=object)

In [12]:
df_breweries.rename(columns = {'Unnamed: 0': 'brewery_id',
                              'name': 'brewery_name'}, inplace=True)
df_breweries.head()

   brewery_id               brewery_name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [13]:
df_breweries.shape

(558, 4)

In [14]:
df_beers.dtypes

id              int64
name           object
style          object
brewery_id      int64
ounces        float64
dtype: object

In [15]:
df_breweries.dtypes

brewery_id       int64
brewery_name    object
city            object
state           object
dtype: object

In [18]:
df_beers.to_csv('Outputs/SQLbeers.csv')
df_breweries.to_csv('Outputs/SQLbreweries.csv')

In [ ]:
# df.drop(df[df['Age'] < 25].index, inplace = True)

In [19]:
df_combine = pd.read_csv('Inputs/beers_and_breweries.csv')

In [20]:
df_combine

,id,name,style,brewery_id,ounces,brewery_id.1,brewery_name,city,state
0,1,Dale's Pale Ale,American Pale Ale (APA),166,12.0,166,Oskar Blues Brewery,Longmont,CO
1,4,Gordon Ale (2009),American Double / Imperial IPA,166,12.0,166,Oskar Blues Brewery,Longmont,CO
2,5,Old Chub,Scottish Ale,166,12.0,166,Oskar Blues Brewery,Longmont,CO
3,6,GUBNA Imperial IPA,American Double / Imperial IPA,166,12.0,166,Oskar Blues Brewery,Longmont,CO
4,7,Mama's Little Yella Pils,Czech Pilsener,166,12.0,166,Oskar Blues Brewery,Longmont,CO
5,8,Ten Fidy Imperial Stout,Russian Imperial Stout,166,12.0,166,Oskar Blues Brewery,Longmont,CO
6,9,Hell or High Watermelon Wheat,Fruit / Vegetable Beer,368,12.0,368,21st Amendment Brewery,San Francisco,CA
7,10,Brew Free! or Die IPA,American IPA,368,12.0,368,21st Amendment Brewery,San Francisco,CA
8,11,Monk's Blood,Belgian Dark Ale,368,12.0,368,21st Amendment Brewery,San Francisco,CA
9,12,Furious,American IPA,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
10,13,CynicAle,Saison / Farmhouse Ale,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
11,14,Hell,Keller Bier / Zwickel Bier,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
12,15,Abrasive Ale,American Double / Imperial IPA,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
13,16,Bender,American Brown Ale,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
14,17,Coffee Bender,American Brown Ale,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
15,18,SurlyFest,Rye Beer,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
16,19,Bitter Brewer,English Bitter,61,16.0,61,Surly Brewing Company,Brooklyn Center,MN
17,20,Phoenix Pale Ale,American Pale Ale (APA),371,12.0,371,Sly Fox Brewing Company,Pottstown,PA
18,21,Pikeland Pils,German Pilsener,371,12.0,371,Sly Fox Brewing Company,Pottstown,PA
19,22,Royal Weisse Ale,Hefeweizen,371,12.0,371,Sly Fox Brewing Company,Pottstown,PA
20,23,Dunkel Lager,Munich Dunkel Lager,371,12.0,371,Sly Fox Brewing Company,Pottstown,PA
21,24,113 IPA,American IPA,371,12.0,371,Sly Fox Brewing Company,Pottstown,PA
22,25,Siamese twin,Dubbel,522,16.0,522,Uncommon Brewers,Santa Cruz,CA
23,26,Black Noddy Lager (Current),Schwarzbier,530,16.0,530,Buckbean Brewing Company,Reno,NV
24,27,Original Orange Blossom Ale (Current),Herbed / Spiced Beer,530,16.0,530,Buckbean Brewing Company,Reno,NV
25,28,Tule Duck Red Ale (Current),American Amber / Red Ale,530,16.0,530,Buckbean Brewing Company,Reno,NV
26,29,Very Noddy Lager (Current),Schwarzbier,530,16.0,530,Buckbean Brewing Company,Reno,NV
27,30,Urban Wilderness Pale Ale,English Pale Ale,557,12.0,557,Sleeping Lady Brewing Company,Anchorage,AK
28,31,Big Swell IPA,American IPA,375,12.0,375,Maui Brewing Company,Lahaina,HI
29,32,CoCoNut Porter,American Porter,375,12.0,375,Maui Brewing Company,Lahaina,HI
...,...,...,...,...,...,...,...,...,...
1970,2257,Remain in Light,American Pilsner,178,12.0,178,Cambridge Brewing Company,Cambridge,MA
1971,2258,Jade,American Pale Ale (APA),177,12.0,177,18th Street Brewery,Gary,IN
1972,2259,Foreman,American Porter,177,12.0,177,18th Street Brewery,Gary,IN
1973,2260,Lake Street Express,American Pale Ale (APA),177,12.0,177,18th Street Brewery,Gary,IN
1974,2261,Black Exodus,Oatmeal Stout,177,12.0,177,18th Street Brewery,Gary,IN
1975,2262,Sex and Candy,American IPA,177,12.0,177,18th Street Brewery,Gary,IN
1976,2263,Sinister,American Double / Imperial IPA,177,12.0,177,18th Street Brewery,Gary,IN
1977,2264,Rise of the Phoenix,American IPA,177,12.0,177,18th Street Brewery,Gary,IN
1978,2265,Devil's Cup,American Pale Ale (APA),177,12.0,177,18th Street Brewery,Gary,IN
1979,2266,Rad,Fruit / Vegetable Beer,46,16.0,46,Sixpoint Craft Ales,Brooklyn,NY
1980,2267,Walloon,Saison / Farmhouse Ale,118,12.0,118,Southern Star Brewing Company,Conroe,TX
1981,2268,Pretzel Stout,American Stout,161,16.0,161,Martin House Brewing Company,Fort Worth,TX
1982,2269,Rahr's Blonde,Munich Helles Lager,176,12.0,176,Rahr & Sons Brewing Company,Fort Worth,TX
1983,2270,Point Cascade Pale Ale (2013),American Pale Ale (APA),131,12.0,131,Stevens Point Brewery,Stevens Point,WI
1984,2271,Ball & Chain (2014),American Pale Ale (APA),175,16.0,175,Spiteful Brewing Company,Chicago,IL
1985,2272,Rebirth Pale Ale,American Pale Ale (APA),174,12.0,174,New Orleans Lager & Ale Brewing ...,New Orleans,LA
1986,2273,Boxer,American Adjunct Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1987,2274,Boxer Ice,American Adjunct Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1988,2275,Boxer Light,Light Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1989,2276,Boxer,American Adjunct Lager,134,24.0,134,Minhas Craft Brewery,Monroe,WI
1990,2277,Mountain Creek (2013),American Pale Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1991,2278,Mountain Crest,American Pale Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1992,2279,Mountain Crest,American Pale Lager,134,16.0,134,Minhas Craft Brewery,Monroe,WI
1993,2280,Clear Creek Ice,American Pale Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1994,2281,Clear Creek Ice,American Pale Lager,134,16.0,134,Minhas Craft Brewery,Monroe,WI
1995,2282,Huber,American Pale Lager,134,12.0,134,Minhas Craft Brewery,Monroe,WI
1996,2283,Nomader Weiss,Berliner Weissbier,173,12.0,173,Evil Twin Brewing,Brooklyn,NY
1997,2284,Hinchtown Hammer Down,American Blonde Ale,16,16.0,16,Flat 12 Bierwerks,Indianapolis,IN
1998,2285,Resurrected,American IPA,60,12.0,60,4 Hands Brewing Company,Saint Louis,MO
1999,2286,Divided Sky,American IPA,60,12.0,60,4 Hands Brewing Company,Saint Louis,MO